<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="/css/style.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/js/excanvas.min.js"></script>
    <script type="text/javascript" src="/js/sigh.js"></script>
    <title>
      Sigh Monitoring | 
      <% if @grapher %>
        <%=h @grapher %>
      <% else %>
        Index
      <% end %>
    </title>
  </head>
  <body>
    <header>
      <aside>
        Horses are not monitored.&nbsp;&nbsp;&nbsp;<br>
        The rest is.
      </aside>
      <h1>
        <a href="/">Sigh Monitoring</a>
      </h1>
    </header>
    <nav>
      <% if @hosts.empty? %>
        <p>Sorry, no hosts can be found. Did you enable some collectors?</p>
      <% end %>
      <% @hosts.each do |host| %>
        <h2><%=h host[:name] %></h2>
        <% if host[:collectors].empty? %>
          <p>No collectors for this host.</p>
        <% end %>
        <% host[:collectors].each do |type, collectors| %>
          <h3><%=h type %></h3>
          <% collectors.each do |collector| %>
            <a href="<%=h('/' + host[:name] + '/' + type + '/' + collector[:name] + '/') %>"><%=h collector[:name] %></a><br>
          <% end %>
        <% end %>
      <% end %>
    </nav>
    <div id="content">
      <%=yield %>
    </div>
  </body>
</html>
